
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Richard Horton">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>File Share</h1>
		<h3>Welcome to File Share</h3>
		

		<form action="/upload" id="uploadButton">
			<input type="submit" value="Upload A File" />
		</form>

		<form action="/fileList" id="fileListButton">
			<input type="submit" value="View Available Files" />
		</form>

		<form action="/logout" id="logoutButton">
			<input type="submit" value="Log Out" />
		</form>
</html>
