
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers & Richard Horton">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>File Share</h1>
		<h3>Welcome to File Share</h3>
		<p>This is a simple site that allows you to upload your files and share them with your friends</p>

		<p><a href="/upload">Upload A File</a></p>

		<p><a href="/logout">Log Out</a></p>
</html>
