<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Upload A File</title>
    <meta name="description" content="Form to upload a file">
    <meta name="author" content="Richard Horton">
    <link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <h1>File Share</h1>
    <h3>Upload Your File Here</h3>
    {{#if message}}
        <p class="msg">{{message}}</p>
        <!-- If a message is passed to the page, display it here -->
    {{/if}}
    <form action="/upload" enctype="multipart/form-data" method="post" name="uploadForm">
        <p>File:<br /><input type="file" name="filetoupload"></p>
        <p>User to Share With:<br /><input type="text" name="targetuser"></p>
        <input type="submit">
    </form>

    <form action="/" class="backButton" name="backBtn">
        <input type="submit" value="Back" />
    </form>

</html>